/* Auto Journal styles */

/* Settings */
.auto-journal-heading {
	margin: 0;
	color: var(--text-normal);
}

.auto-journal-link {
	font-style: italic;
}

/* Navigation buttons */
.auto-journal-code-block-hidden:hover {
	box-shadow: none !important;
	border-radius: 0 !important;
}

.auto-journal-code-block-hidden > .edit-block-button {
	opacity: 0 !important;
	z-index: 0 !important;
}

.auto-journal-navigation-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.auto-journal-navigation-button {
	z-index: 1;
}

.auto-journal-navigation-button:hover {
	cursor: pointer;
}
